# Inheritance

## Single Parent and Single Child

In [12]:
class parent1():
  def name1(self):
    print("I am parent")

class child1(parent1):
  def age1(self):
    print("Iam a child and Iam 5 years old")

In [13]:
obj1=child1()

In [14]:
obj1.name1()

I am parent

In [15]:
obj1.age1()

Iam a child and Iam 5 years old

## Single Parent and Multiple Child

In [24]:
class parent2():
  def name2(self):
    print("I am parent2")

class child2_1(parent2):
  def age2_1(self):
    print("I am first child and 4 years old")

class child2_2(parent2):
  def age2_2(self):
    print("I am second child and 2 years old")

In [25]:
obj2=child2_1()
obj3=child2_2()

In [26]:
obj2.name2()

I am parent2

In [27]:
obj3.name2()

I am parent2

In [28]:
obj2.age2_1()

I am first child and 4 years old

In [29]:
obj3.age2_2()

I am second child and 2 years old

## Multiple Parents and Single Child

In [36]:
class parent3_1():
  def name3_1(self):
    print("I am first parent")

class parent3_2():
  def name3_2(self):
    print("I am second parent")

class child3(parent3_1,parent3_2):
  def age3(self):
    print("I am a child and I am 4 years old")

In [37]:
obj4=child3()

In [38]:
obj4.name3_1()

I am first parent

In [39]:
obj4.name3_2()

I am second parent

In [40]:
obj4.age3()

I am a child and I am 4 years old

## Multiple Parents and Multiple Children

In [41]:
class parent4_1():
  def name4_1(self):
    print("I am first parent")

class parent4_2():
  def name4_2(self):
    print("I am second parent")

class child4_1(parent4_1,parent4_2):
  def age4_1(self):
    print("I am first child and I am 7 years old")

class child4_2(parent4_1,parent4_2):
  def age4_2(self):
    print("I am second child and I am 4 years old")

In [42]:
obj5=child4_1()
obj6=child4_2()

In [43]:
obj5.name4_1()

I am first parent

In [44]:
obj5.name4_2()

I am second parent

In [45]:
obj5.age4_1()

I am first child and I am 7 years old

In [46]:
obj6.name4_1()

I am first parent

In [47]:
obj6.name4_2()

I am second parent

In [48]:
obj6.age4_2()

I am second child and I am 4 years old

# Encapsulation

In [118]:
class Demo:
  def __init__(self,name,age):
    self.__name=name
    self._age=age
    print(self.__name)

  def output(self):
    print(self._age)

In [119]:
obj7=Demo(5,6)

5

In [120]:
obj7.output()

6

# Polymorphism

In [88]:
class poly:
  def multiplication(self,a,b):
    return a*b

In [91]:
obj9=poly()

In [105]:
obj9.multiplication(3,4)

12

In [106]:
obj9.multiplication(2.1,5.6)

11.76

In [107]:
class poly1:
  def division(self,c,d):
    return c/d

In [108]:
obj10=poly1()

In [109]:
obj10.division(4,2)

2.0

In [111]:
obj10.division(4.5,0.5)

9.0

# Abstarction

In [121]:
class abs:
  def abs1(self):
    pass

  def abs2(self):
    pass

  def abs3(self):
    pass