# What is a Variable?

Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program. An Example of a Variable in Python is a representational name that serves as a pointer to an object. Once an object is assigned to a variable, it can be referred to by that name. In layman’s terms, we can say that Variable in Python is containers that store values.

*Since Python is an infer language that is smart enough to determine the type of a variable, we do not need to specify its type in Python.

*Variable names must begin with a letter or an underscore, but they can be a group of both letters and digits.

*The name of the variable should be written in lowercase. Both Rahul and rahul are distinct variable

*Python doesn't tie us to pronounce a variable prior to involving it in the application. It permits us to make a variable at the necessary time.

*In Python, we don't have to explicitly declare variables. The variable is declared automatically whenever a value is added to it.

*The equal (=) operator is utilized to assign worth to a variable.

# Types of Variable

## Basic Assignment

Basic assignment in Python is used to bind a value to a variable. A variable is essentially a name that refers to a value in memory. The assignment operator = is used to assign a value to a variable. This value can be of any data type, such as numbers, strings, lists, etc.

In [17]:
x = 10       
y = -3        

print(x)      
print(y)

10
-3

## Multiple Assignments

Multiple assignment allows you to assign values to multiple variables simultaneously. This can be done in two main ways:

1.Single Value to Multiple Variables: Assign the same value to several variables.

2.Multiple Values to Multiple Variables: Assign multiple values to multiple variables, where the number of variables matches the number of values.

In [19]:
a = b = c = 100  # All variables a, b, and c are assigned the value 100

print(a)  
print(b)  
print(c)

100
100
100

In [21]:
x, y, z = 10, 20, 30  # Assigns 10 to x, 20 to y, and 30 to z

print(x)  
print(y) 
print(z)

10
20
30

# Rules for creating variables

*A Python variable name must start with a letter or the underscore character.

*A Python variable name cannot start with a number.

*A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

*Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).

*The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [29]:
var=1
var_1=2
var1=3
_var=4
var_a=5

print(var)
print(var_1)
print(var1)
print(_var)
print(var_a)

1
2
3
4
5

# 20 Valid Variables

In [94]:
Valid = 20
print(Valid)

20

In [92]:
Valid_1 = 25
print(Valid_1)

25

In [90]:
Valid23 = 45
print(Valid23)

45

In [88]:
_valid2 = 46
print(_valid2)

46

In [82]:
Valid_v = 65
print(Valid_v)

65

In [84]:
Valid_variable = 55
print(Valid_variable)

55

In [86]:
abc = 49
print(abc)

49

In [47]:
userID = 101 
print(userID)

101

In [55]:
temperature = 20          # Lowercase
Temperature = 30          # Capitalized first letter
TEMPERATURE = 40          # All uppercase
print(temperature)
print(Temperature)
print(TEMPERATURE)

20
30
40

In [57]:
price_per_unit = 15.99 
print(price_per_unit)

15.99

In [59]:
totalAmount = 500
print(totalAmount)

500

In [61]:
user_profile_2024 = 2024
print(user_profile_2024)

2024

In [63]:
MAX_LIMIT = 5000
print(MAX_LIMIT)

5000

In [65]:
totalAmountSpent = 150.75 
print(totalAmountSpent)

150.75

In [67]:
_temporary_var = 52
print(_temporary_var)

52

In [69]:
avg_salary = 55000
print(avg_salary)

55000

In [71]:
num_items_sold = 200
print(num_items_sold)

200

In [80]:
task_3_completed = 432
print(task_3_completed)

432

# 20 invalid variables

In [100]:
@invalid = 54
print(@invalid)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2437236358.py, line 1)

In [102]:
$invalid = 45
print($invalid)

SyntaxError: invalid syntax (1622757640.py, line 1)

In [104]:
in valid=32
print(in valid)

SyntaxError: invalid syntax (1777120112.py, line 1)

In [106]:
1invalid = 50
print(1invalid)

<>:1: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
/var/folders/8_/b1zq9gq15bj_b3jd6ntd8s6h0000gn/T/ipykernel_55621/467041582.py:1: SyntaxWarning: invalid decimal literal
  1invalid = 50
/var/folders/8_/b1zq9gq15bj_b3jd6ntd8s6h0000gn/T/ipykernel_55621/467041582.py:2: SyntaxWarning: invalid decimal literal
  print(1invalid)

SyntaxError: invalid syntax (467041582.py, line 1)

In [108]:
46variable = 100
print(46variable)

SyntaxError: invalid decimal literal (2508491961.py, line 1)

In [110]:
34_variable = 532
print(34_variable)

SyntaxError: invalid decimal literal (1907961841.py, line 1)

In [112]:
user-name = 765
print(user-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2864219794.py, line 1)

In [114]:
total$amount = 100 
print(total$amount)

SyntaxError: invalid syntax (1963564261.py, line 1)

In [116]:
item@name = 234
print(item@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (908288886.py, line 1)

In [118]:
def = 44
print(def)

SyntaxError: invalid syntax (1259750296.py, line 1)

In [120]:
class = 8
print(class)

SyntaxError: invalid syntax (1148195815.py, line 1)

In [122]:
if = 23
print(if)

SyntaxError: invalid syntax (1537126827.py, line 1)

In [124]:
x+y = 15    
print(x+y)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1021524586.py, line 1)

In [126]:
total*amount = 100   
print(total*amount)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2156185867.py, line 1)

In [128]:
_@variable = 88
print(_@variable)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2951062902.py, line 1)

In [130]:
_%value = 200
print(_%value)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3781544427.py, line 1)

In [132]:
data#1 = 2
print(data#1)

SyntaxError: incomplete input (3922397973.py, line 2)

In [134]:
name$ = 4
print(name$)

SyntaxError: invalid syntax (907998855.py, line 1)

In [136]:
score* = 8
print(score*)

SyntaxError: invalid syntax (1733537280.py, line 1)

In [138]:
+value = 88
print(+value)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (264511041.py, line 1)

In [140]:
-total = 200
print(-total)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (682992873.py, line 1)