# What is String?

In Python, strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes (‘’) or double quotes (“”). The Python language provides various built-in methods and functionalities to work with strings efficiently. A String is a data structure in Python Programming that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Python String are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

# Creating a String

Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [1]:
str1='This is a string'
str2="This is also a string"
str3="""This is a
multi line string"""
print(str1)
print(str2)
print(str3)
print(type(str1))
print(type(str2))
print(type(str3))

This is a string
This is also a string
This is a
multi line string
<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
str1="Hello World\n"
str2="Python is very easy to learn\n"
str3="My name is Ruchith Reddy\n"
str4="This is so funny\n"
str5="Ruthwik is a waste fellow\n"
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Hello World

Python is very easy to learn

My name is Ruchith Reddy

This is so funny

Ruthwik is a waste fellow

# String Operations

## Concatination

In [3]:
a=str1+str2+str3+str4+str5
print(a)

Hello World
Python is very easy to learn
My name is Ruchith Reddy
This is so funny
Ruthwik is a waste fellow

## Repetition

In [4]:
b=str1*5
c=str2*5
d=str3*5
e=str4*5
f=str5*5
print(b)
print(c)
print(d)
print(e)
print(f)

Hello World
Hello World
Hello World
Hello World
Hello World

Python is very easy to learn
Python is very easy to learn
Python is very easy to learn
Python is very easy to learn
Python is very easy to learn

My name is Ruchith Reddy
My name is Ruchith Reddy
My name is Ruchith Reddy
My name is Ruchith Reddy
My name is Ruchith Reddy

This is so funny
This is so funny
This is so funny
This is so funny
This is so funny

Ruthwik is a waste fellow
Ruthwik is a waste fellow
Ruthwik is a waste fellow
Ruthwik is a waste fellow
Ruthwik is a waste fellow

# String with 500 characters

In [5]:
string_500="This is a simple string that has exactly five hundred characters. It’s written in plain and clear English, making it easy to understand. Each sentence is structured in a way that anyone can follow. No complex words or difficult ideas are used. The goal is to keep everything clear and straightforward. Every letter, space, and punctuation mark counts towards the total length. With this approach, we ensure that the string is exactly five hundred characters long, nothing more, nothing less, keeping it balanced."
print(string_500)

This is a simple string that has exactly five hundred characters. It’s written in plain and clear English, making it easy to understand. Each sentence is structured in a way that anyone can follow. No complex words or difficult ideas are used. The goal is to keep everything clear and straightforward. Every letter, space, and punctuation mark counts towards the total length. With this approach, we ensure that the string is exactly five hundred characters long, nothing more, nothing less, keeping it balanced.

In [6]:
print(string_500[21])
print(string_500[47])
print(string_500[105])
print(string_500[129])
print(string_500[201])
print(string_500[249])
print(string_500[311])
print(string_500[395])
print(string_500[409])
print(string_500[418])

n
u
,
r
c
o
t
,
a
r

# Slicing

In [7]:
string_500[1:4]

'his'

In [8]:
string_500[210:220]

'ords or di'

In [9]:
string_500[478:500]

'nothing less, keeping '

In [11]:
string_500[-255:-235]

'o keep everything cl'

In [13]:
string_500[-495:-482]

'string that h'

# String Format Methods

## 1.Old Style Formatting(% Operator)

In [15]:
name="Ruchith Reddy"
age=22
String_1="This is %s and my age is %d." % (name,age)
print(String_1)

This is Ruchith Reddy and my age is 22.

In [16]:
books=3
pens=5
string_2="I have %d books and %d pens." % (books,pens)
print(string_2)

I have 3 books and 5 pens.

In [17]:
Father_name="Thirupathi Reddy"
Mother_name="Srilatha"
string_3="My father name is %s, my mother name is %s." % (Father_name,Mother_name)
print(string_3)

My father name is Thirupathi Reddy, my mother name is Srilatha.

## 2.Format Method

In [18]:
name="Ruchith Reddy"
age=22
String_1="This is {} and my age is {}." .format(name,age)
print(String_1)

This is Ruchith Reddy and my age is 22.

In [19]:
books=3
pens=5
string_2="I have {} books and {} pens.".format(books,pens)
print(string_2)

I have 3 books and 5 pens.

In [22]:
Father_name="Thirupathi Reddy"
Mother_name="Srilatha"
string_3="My father name is {}, my mother name is {}.".format(Father_name,Mother_name)
print(string_3)

My father name is Thirupathi Reddy, my mother name is Srilatha.

## 3.String Interpolation(f-string)

In [24]:
name="Ruchith Reddy"
age=22
String_1=f"This is {name} and my age is {age}."
print(String_1)

This is Ruchith Reddy and my age is 22.

In [25]:
books=3
pens=5
string_2=f"I have {books} books and {pens} pens."
print(string_2)

I have 3 books and 5 pens.

In [26]:
Father_name="Thirupathi Reddy"
Mother_name="Srilatha"
string_3=f"My father name is {Father_name}, my mother name is {Mother_name}."
print(string_3)

My father name is Thirupathi Reddy, my mother name is Srilatha.

# String Methods

In [107]:
#1.Capitalize: Converts the first character to uppercase.
s = "hello world"
print(s.capitalize())

Hello world

In [108]:
#2.Casefold:Converts the string to lowercase.
s = "HELLO WORLD"
print(s.casefold())

hello world

In [109]:
#3.Center: Centers the string in a field of a given width.
s = "hello"
print(s.center(10, '*'))

**hello***

In [110]:
#4.Count: Returns the number of occurrences of a substring.
s = "banana"
print(s.count('a'))

3

In [111]:
#5.Encode: Encodes the string using a specified encoding.
s = "hello"
print(s.encode('utf-8'))

b'hello'

In [112]:
#6.Endswith: Checks if the string ends with a specified value.
s = "hello world"
print(s.endswith('world'))

True

In [113]:
#7.Expandtabs: Replaces tabs with spaces.
s = "hello\tworld"
print(s.expandtabs(4))

hello   world

In [114]:
#8.Find: Finds the first occurrence of a substring and returns its position.
s = "hello world"
print(s.find('world'))

6

In [115]:
#9.Format: Formats the string with specified values.
s = "Hello {}"
print(s.format("Alice"))

Hello Alice

In [116]:
#10.Format_Map: Formats the string with specified values from a mapping object.
s = "Hello {name}"
print(s.format_map({"name": "Bob"}))

Hello Bob

In [117]:
#11.Index: Finds the first occurrence of a substring and returns its position. Raises an error if not found.
s = "hello world"
print(s.index('world'))

6

In [118]:
#12.isalnum: Checks if all characters are alphanumeric.
s = "abc123"
print(s.isalnum())

True

In [119]:
#13.isalpha: Checks if all characters are alphabetic.
s = "hello"
print(s.isalpha())

True

In [120]:
#14.isascii: Checks if all characters are ASCII.
s = "hello"
print(s.isascii())

True

In [121]:
#15.isdecimal: Checks if all characters are decimal digits.
s = "12345"
print(s.isdecimal())

True

In [122]:
#16.isdigit: Checks if all characters are digits.
s = "12345"
print(s.isdigit())

True

In [123]:
#17.isidentifier: Checks if the string is a valid identifier.
s = "my_var"
print(s.isidentifier())

True

In [124]:
#18.islower: Checks if all characters are lowercase.
s = "hello"
print(s.islower())

True

In [125]:
#19.isnumeric: Checks if all characters are numeric.
s = "12345"
print(s.isnumeric())

True

In [126]:
#20.isprintable: Checks if all characters are printable.
s = "hello"
print(s.isprintable())

True

In [127]:
#21.isspace: Checks if all characters are whitespace.
s = "   "
print(s.isspace())

True

In [128]:
#22.istitle:: Checks if the string follows title case.
s = "Hello World"
print(s.istitle())

True

In [129]:
#23.isupper: Checks if all characters are uppercase.
s = "HELLO"
print(s.isupper())

True

In [130]:
#24.join: Joins elements of an iterable into a string.
s = "-"
seq = ("a", "b", "c")
print(s.join(seq))

a-b-c

In [131]:
#25.ljust: Left-justifies the string in a field of a given width.
s = "hello"
print(s.ljust(10, '*'))

hello*****

In [132]:
#26.lower: Converts the string to lowercase.
s = "HELLO"
print(s.lower())

hello

In [133]:
#27.lstrip: Removes leading whitespace from the string.
s = "   hello"
print(s.lstrip())

hello

In [134]:
#28.Transalte: Creates a translation table for character mapping.
trans = str.maketrans('abc', '123')
s = "abc"
print(s.translate(trans))

123

In [135]:
#29.Partition: Splits the string into a 3-tuple based on the first occurrence of a separator.
s = "hello world"
print(s.partition(' '))

('hello', ' ', 'world')

In [136]:
#30.Replace: Replaces occurrences of a substring with another substring.
s = "hello world"
print(s.replace('world', 'there'))

hello there

In [137]:
#31.rfind: Finds the last occurrence of a substring and returns its position.
s = "hello world world"
print(s.rfind('world'))

12

In [138]:
#32.rindex: Finds the last occurrence of a substring and returns its position. Raises an error if not found.
s = "hello world world"
print(s.rindex('world'))

12

In [139]:
#33.rjust: Right-justifies the string in a field of a given width.
s = "hello"
print(s.rjust(10, '*'))

*****hello

In [140]:
#34.rpartition: Splits the string into a 3-tuple based on the last occurrence of a separator.
s = "hello world"
print(s.rpartition(' '))

('hello', ' ', 'world')

In [141]:
#35.rsplit: Splits the string into a list at the specified separator from the right.
s = "one,two,three"
print(s.rsplit(',', 1))

['one,two', 'three']

In [142]:
#36.rstrip: Removes trailing whitespace from the string.
s = "hello   "
print(s.rstrip())

hello

In [143]:
#37.split: Splits the string into a list at the specified separator.
s = "one two three"
print(s.split())

['one', 'two', 'three']

In [144]:
#38.splitlines: Splits the string at line breaks into a list.
s = "line1\nline2\nline3"
print(s.splitlines())

['line1', 'line2', 'line3']

In [145]:
#39.startswith: Checks if the string starts with a specified value.
s = "hello world"
print(s.startswith('hello'))

True

In [146]:
#40.strip: Removes leading and trailing whitespace from the string.
s = "   hello   "
print(s.strip())

hello

In [147]:
#41.swapcase: Swaps uppercase characters with lowercase and vice versa.
s = "Hello World"
print(s.swapcase())

hELLO wORLD

In [148]:
#42.Title: Converts the first character of each word to uppercase.
s = "hello world"
print(s.title())

Hello World