# What is Tuple?

Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Since tuples are indexed, they can have items with the same value

# Creating Python Tuples

There are various ways by which you can create a tuple in Python. They are as follows:

* Using round brackets
* With one item
* Tuple Constructor

In [1]:
My_Tuple=(1,2,3,4,5)
print(My_Tuple)

(1, 2, 3, 4, 5)

In [2]:
My_Tuple2=("apple","Banana","Cherry")
print(My_Tuple2)

('apple', 'Banana', 'Cherry')

In [4]:
single_element_tuple=(23,)
print(single_element_tuple)
print(type(single_element_tuple))

(23,)
<class 'tuple'>

# Accessing Elements in Tuple

In [6]:
print(My_Tuple[2])
print(My_Tuple2[1:3])

3
('Banana', 'Cherry')

# Immutability

In [9]:
My_Tuple[2]="water"
print(My_Tuple2)

TypeError: 'tuple' object does not support item assignment

# Tuple Operations

## Concatination

In [10]:
Tuple1=(1,2,3,4,5)
Tuple2=("Apple","Banana","Cherry")
a=Tuple1+Tuple2
print(a)

(1, 2, 3, 4, 5, 'Apple', 'Banana', 'Cherry')

## Repetition

In [11]:
Tuple1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
Tuple2*5

('Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry',
 'Apple',
 'Banana',
 'Cherry')

# Tuple Methods

## Count

In [14]:
Tuple3=(1,2,3,4,1,5,7,1)
Tuple3.count(1)

3

## Index

In [15]:
Tuple3.index(3)

2